.header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 1px #CCC solid;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: 142px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  margin-left: 20px;
}